<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="postTitle">
    <label for="postInput">Post</label>
    <textarea class="form-control" id="postInput" rows="5" name="postInput"></textarea>
    </div>
    <button class="btn btn-primary"type="submit" name="composeSubmit">Compose</button>
</form>
<%- include("partials/footer") -%>
